Time Series include date and time of every records and can fetch the records of dataframe.Finding data in range of Date and time by using Pandas moduled named Time Series

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
#Return a fixed frequency DatetimeIndex.
#Syntax:  date_range(start , end , freq)
time = pd.date_range(start='10/1/2022',end='11/1/2022',freq='min')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-31 23:51:00', '2022-10-31 23:52:00',
               '2022-10-31 23:53:00', '2022-10-31 23:54:00',
               '2022-10-31 23:55:00', '2022-10-31 23:56:00',
               '2022-10-31 23:57:00', '2022-10-31 23:58:00',
               '2022-10-31 23:59:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=44641, freq='T')

In [3]:
#Time range of 1 Day
import numpy as np
import pandas as pd
from datetime import datetime
t1 = pd.date_range(start='10/1/2022',end='10/2/2022',freq='min')
print(t1)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-01 23:51:00', '2022-10-01 23:52:00',
               '2022-10-01 23:53:00', '2022-10-01 23:54:00',
               '2022-10-01 23:55:00', '2022-10-01 23:56:00',
               '2022-10-01 23:57:00', '2022-10-01 23:58:00',
               '2022-10-01 23:59:00', '2022-10-02 00:00:00'],
              dtype='datetime64[ns]', length=1441, freq='T')

In [5]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start='10/1/2022',end='11/1/2022',freq='min')
df = pd.DataFrame(time , columns=["DateTime"])
print(df)

                 DateTime
0     2022-10-01 00:00:00
1     2022-10-01 00:01:00
2     2022-10-01 00:02:00
3     2022-10-01 00:03:00
4     2022-10-01 00:04:00
...                   ...
44636 2022-10-31 23:56:00
44637 2022-10-31 23:57:00
44638 2022-10-31 23:58:00
44639 2022-10-31 23:59:00
44640 2022-11-01 00:00:00

[44641 rows x 1 columns]

In [15]:
import numpy as np
import pandas as pd
from datetime import datetime
time = pd.date_range(start='10/1/2022',end='11/1/2022',freq='min')#H,S
df = pd.DataFrame(time , columns=["DateTime"])

#Here,We are adding data column of size 44641 with random number between 0-99
df['Data']=np.random.randint(0,100,size=(len(time)))
print(df)
df.head()
#df.head(20)

                 DateTime  Data
0     2022-10-01 00:00:00    71
1     2022-10-01 00:01:00    24
2     2022-10-01 00:02:00    14
3     2022-10-01 00:03:00    44
4     2022-10-01 00:04:00    23
...                   ...   ...
44636 2022-10-31 23:56:00    95
44637 2022-10-31 23:57:00    90
44638 2022-10-31 23:58:00    45
44639 2022-10-31 23:59:00    57
44640 2022-11-01 00:00:00     8

[44641 rows x 2 columns]

             DateTime  Data
0 2022-10-01 00:00:00    71
1 2022-10-01 00:01:00    24
2 2022-10-01 00:02:00    14
3 2022-10-01 00:03:00    44
4 2022-10-01 00:04:00    23