# IMPORT MYSQL CONNECTOR

In [1]:
import mysql.connector as con

# CONNECTION TO DATABASE

In [13]:
import mysql.connector as con
new_db=con.connect(host="localhost",user="root",password="root")
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016428D17FD0>

# CREATING A DATABASE

In [2]:
import mysql.connector as con
new_db=con.connect(
host="localhost",
user="root",
password="root"
)

new_cursor=new_db.cursor()
new_cursor.execute("CREATE DATABASE college13")

# CHECK DATABSE CREATED OR NOT?

In [15]:
import mysql.connector as con
new_db=con.connect(
host="localhost",
user="root",
password="root"
)

new_cursor=new_db.cursor()
new_cursor.execute("SHOW DATABASES")
for a in new_cursor:
    print(a)

('college',)
('college1',)
('college12',)
('college123',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# CREATING TABLES AND SHOWING DATA

In [1]:
import mysql.connector as con
new_db=con.connect(
host="localhost",
user="root",
password="root",
database="college12"
)

new_cursor=new_db.cursor()
query="CREATE TABLE student14(rno int,name varchar(100))"
new_cursor.execute(query)

# LIST ALL TABLES IN NEW DATABASES

In [17]:
query="CREATE TABLE teacher(tno int,tname varchar(100))"
new_cursor.execute(query)

In [18]:
new_cursor.execute("SHOW TABLES")
for a in new_cursor:
    print(a)

('student12',)
('teacher',)
('teacher12',)

# DELETING A TABLE

In [26]:
new_cursor.execute("DROP TABLE student")

# INSERTING DATA INTO TABLES

In [19]:
query="INSERT INTO student12(rno,name) VALUES (%s,%s)"
values=("1","rahul")

new_cursor = new_db.cursor()

new_cursor.execute(query,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

1 new record inserted

In [ ]:
sql="INSERT INTO student12(rno,name) VALUES (%s,%s)"
values=[("3","gurunath"),
        ("4","sachin"),
        ("5","tanishk"),
        ("6","viraj")
       ]
new_cursor = new_db.cursor()
new_cursor.executemany(sql,values)
new_db.commit()
print(new_cursor.rowcount,"new record inserted")

# DISPLAY RECORDS FROM TABLES

In [22]:
new_cursor = new_db.cursor()
new_cursor.execute("SELECT * FROM student12 ")
for a in new_cursor:
    print(a)

(1, 'rahul')
(1, 'rahul')
(1, 'rahul')
(3, 'gurunath')
(4, 'sachin')
(5, 'tanishk')