In [2]:
import pandas as pd
#importing the data
df = pd.read_csv("dataset/auto-mpg.csv")
df    #to know the column names, missing values and their data type

    18.0   8.   307.0      130.0      3504.      12.0   70.  1.\t"chevrolet chevelle malibu"
0    15.0   8.   350.0      165.0      3693.      1...
1    18.0   8.   318.0      150.0      3436.      1...
2    16.0   8.   304.0      150.0      3433.      1...
3    17.0   8.   302.0      140.0      3449.      1...
4    15.0   8.   429.0      198.0      4341.      1...
..                                                 ...
400  27.0   4.   140.0      86.00      2790.      1...
401  44.0   4.   97.00      52.00      2130.      2...
402  32.0   4.   135.0      84.00      2295.      1...
403  28.0   4.   120.0      79.00      2625.      1...
404  31.0   4.   119.0      82.00      2720.      1...

[405 rows x 1 columns]