In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('dataset/healthcare-dataset-stroke-data.csv' , nrows=1000)
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.00,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.00,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.00,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.00,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.00,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
995,60211,Male,1.40,0,0,No,children,Urban,90.51,18.9,Unknown,0
996,53279,Male,0.24,0,0,No,children,Rural,118.87,16.3,Unknown,0
997,61715,Male,55.00,0,0,Yes,Private,Rural,56.42,31.8,never smoked,0
998,37830,Female,29.00,0,0,No,Private,Urban,73.67,21.0,Unknown,0
999,2454,Male,4.00,0,0,No,children,Rural,89.11,20.1,Unknown,0

In [45]:
df['bmi'].isnull().sum()

58

In [46]:
df['bmi'].interpolate(inplace=True)

In [47]:
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [48]:
df['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [49]:
df['avg_glucose_level'].unique().min()

55.25

In [50]:
df['bmi'].unique().max()

78.0

In [51]:
x = df.iloc[:,[3,4,6,8,9,10]]
y = df.iloc[:,-1]

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x , y ,test_size = 0.2 , random_state=2)
print("\n",x_train.head())

      hypertension  heart_disease      work_type  avg_glucose_level    bmi  \
175             1              0  Self-employed             185.49  37.10
818             0              0       Govt_job             106.97  27.90
677             0              0        Private              75.74  28.80
952             0              0        Private              76.34  20.60
200             0              0        Private             167.13  29.05

      smoking_status
175     never smoked
818  formerly smoked
677           smokes
952           smokes
200          Unknown

In [53]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer
tr  = ColumnTransformer( transformers =[
                        ('t1',StandardScaler(),['avg_glucose_level','bmi']),
                        ('t2',OneHotEncoder(drop='first',sparse=False),['work_type']),
            ('t3',OrdinalEncoder(categories=[['smokes','formerly smoked', 'never smoked','Unknown']]) , ['smoking_status'])
    
],remainder='passthrough')

In [54]:
x_tr = tr.fit_transform(x_train)
x_ts = tr.fit_transform(x_test)

In [55]:
from sklearn.svm import SVC 
svc=SVC(kernel = 'linear' , random_state=0)
svc.fit(x_tr , y_train)
y_pred =svc.predict(x_ts)

In [59]:
from sklearn.metrics import accuracy_score,confusion_matrix
print('\n Accuracy Score :  ',accuracy_score(y_test,y_pred))
pd.DataFrame(confusion_matrix(y_test,y_pred))

 Accuracy Score :   0.77

     0  1
0  151  2
1   44  3

In [57]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Decision Tree Prediction'] = y_pred
result

     Actual Label  Decision Tree Prediction
37              1                         0
726             0                         0
846             0                         0
295             0                         0
924             0                         0
..            ...                       ...
839             0                         0
810             0                         0
930             0                         0
616             0                         0
809             0                         0

[200 rows x 2 columns]

In [60]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred , average =None)

array([0.77435897, 0.6       ])

In [61]:
from sklearn.metrics import recall_score
recall_score(y_test, y_pred , average = 'micro')

0.77

In [62]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred , average = 'macro')

0.4916003536693192